:root {
  --a_text: #3f6a79;
  --white: white;
  --black: black;
  --linkedin: #007bb5;
  --github: #161b22;
  --google: #dd4b39;
  --moon: #cde26f;
  scroll-behavior: smooth;
}

html[data-theme="light"] {
  --icon: black;
  --icon-highlight: rgb(95, 158, 160); /* cadet blue */
  --bg: #fffffa;
  --bg-off: #e2e2e2;
  --bg2: #3f6a79;
  --text: #333;
}

html[data-theme="dark"] {
  --icon: white;
  --icon-highlight: rgb(95, 158, 160); /* cadet blue */
  --bg: #212121;
  --bg-off: #131313;
  --bg2: #3f6a79;
  --text: #fffffa;
}

body {
  background-color: var(--bg);
  color: var(--text);
  min-height: 100%;
}

#about-section, #now-section, #education-section, 
#projects-section, #skills-section {
  background-color: var(--bg-off);
  padding: 0 3em;
}

@keyframes highlightIn {
  0% { box-shadow: 0px 0px 5px 5px var(--bg-off); }
  100% { box-shadow: 0px 0px 5px 5px var(--icon-highlight); }
}

@keyframes highlightOut {
  0% { box-shadow: 0px 0px 5px 5px var(--icon-highlight); }
  100% { box-shadow: 0px 0px 5px 5px var(--bg-off); }
}

.page {
  margin-bottom: 3em;
  box-shadow: 0px 0px 5px 5px var(--bg-off);
  animation: highlightOut .5s linear 0s normal;
}

.page:hover, .page:focus-visible {
  box-shadow: 0px 0px 5px 5px var(--icon-highlight);
  animation: highlightIn .5s linear 0s normal;
}

/* FA BUTTONS */
.social-medias a:hover {
  color: var(--icon-highlight)!important;
}

.fa-linkedin, .fa-github-alt, .fa-envelope {
  padding: .2em;
  color: var(--icon);
}


.fa.fa-angle-down {
  color: var(--icon);
  font-size: 1.5em;
}

.fa.fa-angle-up {
  color: var(--icon);
  transform: none;
  font-size: 1.5em;
}
.fa.fa-angle-up:hover, .fa.fa-angle-down:hover {
  color: var(--icon-highlight);
}

/* AVATAR */
.avatar {
  max-width: 15%;
  height: auto;
  border-radius: 50%;
  padding: 5px;
  margin: 20px 20px 5px 20px;
}

.img-thumbnail {
  box-shadow: 0 0 10px var(--bg2);
}

#header-section {
  padding: 5%;
}


h2.header {
  font-family: 'Gentium Basic', serif;
  font-size: 2em;
  font-weight: bold;
}

.skills-block {
  display: inline-block;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: .9rem;
  color:#ffffff;
  background-color:var(--bg2);
  border-radius:5px;
  border: 1px solid transparent;
}

.skills-block.purple {
  background-color:rgb(122, 113, 202);
}

.skills-block.maroon {
  background-color:maroon;
}

.skills-block.green {
  background-color:forestgreen;
}

.indent {
  text-indent: 30px;
}

h4 {
  padding-bottom: 10px;
}

hr {
  margin: 0;
  border-top: 4px double #a3a3a3;
}

a {
  text-decoration: none;
  color: var(--icon);
}

a:hover {
  text-decoration: none;
  font-weight: 600;
  color: var(--icon);
}

footer {
  background-color: var(--black);
  color: white;
}

div#projects-section div.project {
  padding-top: 1em;
}

.outline {
  border-bottom: 3px solid rgba(95, 158, 160, .75);
  background-color: rgba(95, 158, 160, .25);
  padding: 0px 2px;
}

.extra {
  font-size: .7em;
}


/* SCROLL BAR */

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-off);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--icon-highlight);
}